<% n = 1 %>
<div id="info_box">
  <dl class="box">
    <% [[:class, "Extends"], [:instance, "Includes"]].each do |scope, name| %>
      <% if (mix = object.mixins(scope)).size > 0 %>
        <dt class="r<%=n%>"><%= name %>:</dt>
        <dd class="r<%=n%>"><%= mix.sort_by {|o| o.path }.map {|o| linkify(o) }.join(", ") %></dd>
        <% n = n == 2 ? 1 : 2 %>
      <% end %>
    <% end %>
  <% if (mixed_into = mixed_into(object)).size > 0 %>
    <dt class="r<%=n%>">Included in:</dt>
    <dd class="r<%=n%>"><%= mixed_into.sort_by {|o| o.path }.map {|o| linkify(o) }.join(", ") %></dd>
    <% n = n == 2 ? 1 : 2 %>
  <% end %>
    <% unless object.root? %>
      <dt class="r<%=n%> last">Defined in:</dt>
      <dd class="r<%=n%> last"><%= erb(:defines) %></dd>
    <% end %>
  </dl>
</div>
<div class="clear"></div>

