<div id="menu">
  <% if object.is_a?(CodeObjects::Base) && @file.nil? %>
		<% if object.root? || object.type == :method %>
			<%= link_url('object_index.html', 'Index') %>
		<% else %>
			<%= link_url('object_index.html', "Index (#{object.name.to_s[0,1]})") %>
		<% end %> &raquo;
    <%= @breadcrumb.map {|obj| "<span class='title'>" + linkify(obj, obj.name) + "</span>" }.join(" &raquo; ") %>
    <%= @breadcrumb.size > 0 ? " &raquo; " : "" %>
    <span class="title"><%= object.root? ? "Top Level Namespace" : object.name(true) %></span>
  <% else %>
    <% if object != 'object_index.html' %><%= link_url('object_index.html', 'Index') %> &raquo; <% end %>
    <span class="title"><%= @breadcrumb_title %></span>
  <% end %>
  
  <div class="noframes">
    <span class="title"></span>
    <a id="frames_link" class="link_disabled">Frames</a> | 
    <a target="_top" id="noframes_link" class="link_disabled">No Frames</a>
    <span class="title"></span>
  </div>
</div>
